Repository arvinbera/college_for_me, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, tests, documentation, ci/cd, dependencies, migrations, seeders, env, storage, config, routes, controllers, models, views, views-components, views-layouts, views-pages, views-partials, views-sections, javascript, css

all api done
  app/Http/Controllers/CollegeAdmin/AuthenticationController.php
  app/Http/Controllers/apicontroller/ArticleController.php
  app/Http/Controllers/apicontroller/CollegeContactController.php
  app/Http/Controllers/apicontroller/CollegeGalleryController.php
  app/Http/Controllers/apicontroller/CollegeinfoController.php
  app/Http/Controllers/apicontroller/FacultyController.php
  app/Http/Controllers/apicontroller/PlacementController.php
  auth/bruno.json
  auth/login.bru
  auth/logout.bru
  college article/bruno.json
  college article/list.bru
  college faculty/bruno.json
  college faculty/edit.bru
  college faculty/environments/college_for_me.bru
  college faculty/list.bru
  college faculty/update.bru
  college placement/bruno.json
  college placement/edit.bru
  college placement/update.bru
  routes/api.php
Labels: backend, routes, controllers

api done
  app/Http/Controllers/apicontroller/CourseController.php
  college course/bruno.json
  college course/edit.bru
  college course/list.bru
  college course/update.bru
  routes/api.php
Labels: backend, routes, controllers

kgf
  auth/login.bru
  auth/logout.bru
  college article/list.bru
  college course/edit.bru
  college course/list.bru
  college course/update.bru
  college placement/edit.bru
Labels: none

counselor add list
  app/Http/Controllers/Admin/AuthController.php
  app/Http/Controllers/Lead/CounselorController.php
  app/Http/Controllers/Lead/DashboardController.php
  app/Http/Controllers/Lead/LeadController.php
  app/Http/Middleware/LeadAuth.php
  app/Imports/LeadImport.php
  app/Models/AllLead.php
  app/Models/User.php
  bootstrap/app.php
  composer.json
  composer.lock
  database/migrations/2025_01_29_050747_create_all_leads_table.php
  resources/views/layouts/lead/app.blade.php
  resources/views/layouts/lead/partials/sidebar.blade.php
  resources/views/lead/counselor/add.blade.php
  resources/views/lead/counselor/list.blade.php
  resources/views/lead/dashboard.blade.php
  resources/views/lead/leads/add.blade.php
  resources/views/lead/leads/bulk.blade.php
  resources/views/lead/leads/details.blade.php
  resources/views/lead/leads/edit.blade.php
  resources/views/lead/leads/list.blade.php
  routes/lead.php
  routes/web.php
Labels: backend, frontend, dependencies, migrations, routes, controllers, models, views, views-layouts

Lead Assign done
  app/Http/Controllers/Lead/CounselorController.php
  app/Models/CounselorLead.php
  database/migrations/2025_01_31_104517_create_counselor_leads_table.php
  resources/views/layouts/counselor/app.blade.php
  resources/views/layouts/counselor/partials/footer.blade.php
  resources/views/layouts/counselor/partials/header.blade.php
  resources/views/layouts/counselor/partials/sidebar.blade.php
  resources/views/layouts/lead/partials/sidebar.blade.php
  resources/views/lead/counselor/assign.blade.php
  resources/views/lead/counselor/edit.blade.php
  resources/views/lead/counselor/list.blade.php
  routes/lead.php
Labels: backend, frontend, migrations, routes, controllers, models, views, views-layouts

Counselor Lead
  app/Http/Controllers/Admin/AuthController.php
  app/Http/Controllers/Counselor/CounselorLeadController.php
  app/Http/Controllers/Counselor/DashboardController.php
  app/Http/Middleware/CounselorAuth.php
  app/Models/AllLead.php
  app/Models/CollegeLead.php
  app/Models/Leadfollowup.php
  bootstrap/app.php
  database/migrations/2025_02_03_073525_create_college_leads_table.php
  database/migrations/2025_02_03_103306_create_leadfollowups_table.php
  resources/views/counselor/dashboard.blade.php
  resources/views/counselor/lead/details.blade.php
  resources/views/counselor/lead/list.blade.php
  resources/views/layouts/counselor/app.blade.php
  resources/views/layouts/counselor/partials/footer.blade.php
  resources/views/layouts/counselor/partials/sidebar.blade.php
  routes/counselor.php
Labels: backend, frontend, migrations, routes, controllers, models, views, views-layouts

update 7 files
  app/Http/Controllers/ApiResponseCntroller.php
  app/Http/Controllers/CollegeAdmin/AuthenticationController.php
  app/Http/Controllers/apicontroller/CollegeContactController.php
  app/Http/Controllers/apicontroller/CollegeGalleryController.php
  app/Http/Controllers/apicontroller/CollegeinfoController.php
  cfm-bruno/cfm-bruno/Login.bru
  cfm-bruno/cfm-bruno/bruno.json
  cfm-bruno/cfm-bruno/logout.bru
  pnpm-lock.yaml
  routes/api.php
Labels: backend, dependencies, routes, controllers

dsf
  app/Http/Controllers/BillController.php
  app/Models/Bill.php
  database/migrations/2025_02_04_063125_create_bills_table.php
  resources/views/admin/bill/lead_model_add.blade.php
  resources/views/admin/bill/lead_model_list.blade.php
  resources/views/layouts/admin/partials/sidebar.blade.php
  routes/web.php
Labels: backend, frontend, migrations, routes, controllers, models, views, views-layouts

Lead panel
  app/Http/Controllers/Counselor/CounselorLeadController.php
  app/Http/Controllers/Lead/LeadController.php
  app/Models/AllLead.php
  resources/views/counselor/lead/admitted.blade.php
  resources/views/counselor/lead/interested.blade.php
  resources/views/counselor/lead/noresponse.blade.php
  resources/views/counselor/lead/notinterested.blade.php
  resources/views/layouts/counselor/partials/sidebar.blade.php
  resources/views/layouts/lead/partials/sidebar.blade.php
  resources/views/lead/leads/admission.blade.php
  resources/views/lead/leads/details.blade.php
  resources/views/lead/leads/interested.blade.php
  resources/views/lead/leads/noresponse.blade.php
  resources/views/lead/leads/notinterested.blade.php
  routes/counselor.php
  routes/lead.php
Labels: backend, frontend, routes, controllers, models, views, views-layouts

Added few Apis
  College For Me API/College Claim.bru
  College For Me API/Front Application.bru
  app/Http/Controllers/Frontend/FrontApiController.php
  app/Models/CollegeApplication.php
  app/Models/CollegeClaim.php
  bootstrap/app.php
  database/migrations/2025_02_08_103844_create_college_applications_table.php
  database/migrations/2025_02_10_045051_create_college_claims_table.php
  routes/front_api.php
Labels: backend, migrations, routes, controllers, models

get user route
  app/Http/Controllers/CollegeAdmin/AuthenticationController.php
  cfm-bruno/cfm-bruno/checkAuth.bru
  env.example
  routes/api.php
Labels: backend, routes, controllers

feat(routes): Update user verification route
  app/Http/Controllers/CollegeAdmin/AuthenticationController.php
  cfm-bruno/cfm-bruno/checkAuth.bru
  routes/api.php
Labels: backend, routes, controllers

feat: Add college course and faculty management
  cfm-bruno/College For Me API/College Admin Login.bru
  cfm-bruno/College For Me API/bruno.json
  cfm-bruno/auth/Login.bru
  cfm-bruno/auth/bruno.json
  cfm-bruno/auth/checkAuth.bru
  cfm-bruno/auth/logout.bru
  cfm-bruno/college article/list.bru
  cfm-bruno/college course/bruno.json
  cfm-bruno/college course/edit.bru
  cfm-bruno/college course/list.bru
  cfm-bruno/college course/update.bru
  cfm-bruno/college faculty/bruno.json
  cfm-bruno/college faculty/edit.bru
  cfm-bruno/college faculty/environments/college_for_me.bru
  cfm-bruno/college faculty/list.bru
  cfm-bruno/college faculty/update.bru
  cfm-bruno/college placement/bruno.json
  cfm-bruno/college placement/edit.bru
  cfm-bruno/college placement/update.bru
  college article/bruno.json
Labels: none

feat: Reorder HTTP endpoints and add collection config
  cfm-bruno/auth/Login.bru
  cfm-bruno/auth/checkAuth.bru
  cfm-bruno/auth/logout.bru
  cfm-bruno/bruno.json
Labels: none

feat(auth): Implement user verification endpoint
  app/Http/Controllers/CollegeAdmin/AuthenticationController.php
  routes/api.php
Labels: backend, routes, controllers

lot
  College For Me API/College Lead List.bru
  app/Http/Controllers/Admin/CollegeClaimController.php
  app/Http/Controllers/Admin/CollegeEditController.php
  app/Http/Controllers/CollegeAdmin/CollegeLeadController.php
  app/Http/Middleware/CollegeAdminAuth.php
  app/Livewire/College/Edit/Address.php
  app/Models/College.php
  app/Models/CollegeClaim.php
  bootstrap/app.php
  resources/views/admin/college/claim/details.blade.php
  resources/views/admin/college/claim/list.blade.php
  resources/views/layouts/admin/partials/sidebar.blade.php
  resources/views/livewire/college/edit/faculty/faculty-list.blade.php
  routes/api.php
  routes/web.php
Labels: backend, frontend, routes, controllers, models, views, views-layouts

CollegeAdminLead
  College For Me API/College Admin Login.bru
  College For Me API/College Lead Details.bru
  app/Http/Controllers/CollegeAdmin/CollegeAdminController.php
  app/Http/Controllers/CollegeAdmin/CollegeLeadController.php
  app/Models/CollegeAdminDashboard.php
  app/Models/CollegeLead.php
  app/Models/CollegeLeadRemark.php
  database/migrations/2025_02_13_112622_create_college_admin_dashboards_table.php
  database/migrations/2025_02_15_061938_create_college_lead_remarks_table.php
  resources/views/admin/college/collegeadmin/add.blade.php
  resources/views/livewire/college/list/collegelist.blade.php
  routes/api.php
  routes/web.php
Labels: backend, frontend, migrations, routes, controllers, models, views

update College.php and front_api.php
  College For Me API/Filter Search.bru
  College For Me API/Header Search.bru
  app/Http/Controllers/Frontend/SearchController.php
  app/Models/College.php
  routes/front_api.php
Labels: backend, routes, controllers, models

.github/labeler.yml:

# Labels for backend files
backend:
- changed-files:
  - any-glob-to-any-file: 
    - 'app/**'
    - 'database/**'
    - 'routes/**'
    - 'config/**'
    - 'bootstrap/**'

# Labels for frontend files
frontend:
- changed-files:
  - any-glob-to-any-file:
    - 'resources/views/**'
    - 'public/**'
    - 'resources/js/**'
    - 'resources/css/**'

# Labels for tests
tests:
- changed-files:
  - any-glob-to-any-file: 'tests/**'

# Labels for documentation updates
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'

# Labels for CI/CD or GitHub workflows
ci/cd:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

# Labels for composer and package management
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'composer.json'
    - 'composer.lock'
    - 'package.json'
    - 'package-lock.json'
    - 'pnpm-lock.yaml'
migrations:
- changed-files:
  - any-glob-to-any-file:
    - 'database/migrations/**'
seeders:
- changed-files:
  - any-glob-to-any-file:
    - 'database/seeders/**'
env:
- changed-files:
  - any-glob-to-any-file:
    - '.env'
    - '.env.example'
storage:
- changed-files:
  - any-glob-to-any-file:
    - 'storage/**'
    - 'public/storage/**'
config:
- changed-files:
  - any-glob-to-any-file:
    - 'config/**'
    - '.env'
    - '.env.example'
routes:
- changed-files:
  - any-glob-to-any-file:
    - 'routes/**'
controllers:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Http/Controllers/**'
models:
- changed-files:
  - any-glob-to-any-file:
    - 'app/Models/**'
views:
- changed-files:
  - any-glob-to-any-file:
    - 'resources/views/**'
views-components:
- changed-files:
  - any-glob-to-any-file:
    - 'resources/views/components/**'
views-layouts:
- changed-files:
  - any-glob-to-any-file:
    - 'resources/views/layouts/**'
views-pages:
- changed-files:
  - any-glob-to-any-file:
    - 'resources/views/pages/**'
views-partials:
- changed-files:
  - any-glob-to-any-file:
    - 'resources/views/partials/**'
views-sections:
- changed-files:
  - any-glob-to-any-file:
    - 'resources/views/sections/**'
javascript:
- changed-files:
  - any-glob-to-any-file:
    - 'resources/js/**'
css:
- changed-files:
  - any-glob-to-any-file:
    - 'resources/css/**'
